.home {
  background-image: url(../images/home\ background.png);
  background-size: cover;
  background-position: bottom;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.home__container {
  width: 60%;
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}

.home__container h1 {
  font-size: 4rem;
  font-family: "Noto Sans", sans-serif;
}

.download a {
  text-decoration: none;
}

.download a:last-child img {
  width: 135px;
  height: 40px;
  margin-left: 15px;
}

.mouseIcon {
  align-self: center;
  position: absolute;
  bottom: 30px;
}

.mouseIcon img {
  width: 50px;
}

.home__container > img {
  width: 45vh;
  position: absolute;
  bottom: 0;
  right: 22vw;
  z-index: -1;
}

@media (max-width: 600px) {
  .home__container {
    width: 90%;
    height: 60%;
  }

  .home__container > img {
    opacity: 0.5;
    z-index: -1;
    right: 5vw;
  }
  .mouseIcon {
    bottom: 5px;
  }

  .home__container > img {
    width: 40vh;
    margin: auto;
  }
}

@media (orientation: portrait) and (min-width: 600px) and (max-width: 1200px) {
  .home__container {
    width: 80%;
  }

  .home__container > img {
    opacity: 0.5;
  }
}

@media (orientation: landscape) and (min-width: 600px) and (max-width: 1200px) {
  .home__container {
    width: 80%;
  }

  .home__container > img {
    right: 10vw;
  }
}
