.team-work {
  background-color: #71797e;
  height: 80vh;
  text-align: center;
  color: white;
}

.team-work__container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-work__container h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.team-work__container p {
  font-size: 1.2rem;
}

.team-work__container img {
  width: 75px;
}

@media (max-width: 600px) {
  .team-work__container {
    width: 90%;
    margin: auto;
  }
}
